.placeholder {
  position: absolute;
  right: 15px;
  font-size: small;
  color: gray;
  font-weight: 400;
}

.wrapp {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-bottom: 5px;
}

.marginBottom {
  margin-bottom: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.subWrapp {
  padding: 8px 10px 8px 10px;
  background: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 12px;
}

.input {
  all: unset;
  width: 90%;
  font-size: 12px;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 0;
  overflow-y: auto;
  border-bottom: 8px;
  z-index: 10;
  background: white;
  padding-left: 5px;
  .suggestions {
    margin-bottom: 5px;
  }
}
